DATABASE_URL='postgresql://[USERNAME]:[DB_PASSWORD]@[HOST]:[PORT]/blog?schema=public'
HOST='localhost'
# not required - defaults to 3000 if not used
PORT=3000
# not required - used for seeding admin user
SEED_USERNAME='bob'
# not required - used for seeding admin user
SEED_EMAIL='bob@yourdomain.com'
# not required - used for seeding admin user
SEED_PASSWORD='Password'
